<%- include('../partials/head') -%> <%- include('../partials/nav') -%>
<div class="content-container">
  <h1>Profile</h1>
  <div class="content-div-center">
    <p>Avatar: <%= %></p>
    <p>Name: <%= %></p>
    <p>Email: <%= %></p>
    <p>Birthday: <%= %></p>
    <p>Twitter: <%= %></p>
    <p>Ig: <%= %></p>
  </div>
</div>
<%-include('../partials/footer') -%>
